@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* Light and Dark Mode background and text variables */
@theme {
  --color-background: var(--bg-color);
  --color-foreground: var(--fg-color);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --bg-color: #f8fafc;
  --fg-color: #0f172a;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --bg-color: #0f172a;
  --fg-color: #f8fafc;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}
